body{
	padding:100px;
	background-color:#fafafa;
	font-family: 'Segoe UI', sans-serif;
}
 /* The drop region */
#drop-region {
	background-color: #fff;
	border-radius:20px;
  border-width:2px;
  border-style:dotted;
   border-color:grey;
	box-shadow:0 0 35px rgba(0,0,0,0.05);
	width:400px;
	padding:60px 40px;
	margin: 20 auto;
	text-align: center;
	cursor:pointer;
	transition:.3s;
}
#drop-region:hover {
	box-shadow:0 0 45px rgba(0,0,0,0.1);
}
#image-preview {
	margin-top:20px;
}
#image-preview .image-view {
    display: inline-block;
	position:relative;
	margin: 10px;
}
.image-view img{
padding: 5px;
}
#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}
#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}
#send-image{
	display: block;
	margin: 0 auto;
}
/* The alert message box */
#alert {
  padding: 20px;
  background-color: #2196F3;
  color: white;
  margin-bottom: 15px;
  display: none;
}

/* The close button of alert message box */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
.success {
  border-color: #4CAF50;
  color: green;
}
.success:hover {
  background-color: #4CAF50;
  color: white;
}